src/RiceFunctions/__pycache__
src/RiceFunctions/__pycache__/riceFunctions.cpython-310.pyc
src/RiceFunctions/__pycache__/riceFunctions.cpython-310.pyc
src/RiceFunctions/__pycache__/riceFunctions.cpython-310.pyc
src/RiceFunctions/__pycache__/riceFunctions.cpython-310.pyc
